/* styles.css */
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #fff;
    font-family: 'Roboto', sans-serif;
}

.calculator {
    border-radius: 10px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
    background-color: #000000;
    width: 400px;
}

.display {
    width: 360px;
    height: 80px;
    border: none;
    background-color: #302e2e;
    color: white;
    text-align: right;
    padding: 20px;
    font-size: 2.5rem;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

.keys {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 20px;
}

button {
    height: 60px;
    border: none;
    border-radius: 10px;
    font-size: 1.5rem;
    background-color: white;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

button:hover {
    background-color: #f0f0f0;
}

.operator {
    background-color: #ff9500;
    color: white;
}

.operator:hover {
    background-color: #ecbb75;
}

.operator:active {
    background-color: #f7f6f6;
}

.equal-sign {
    background-color: #ff9500;
    color: white;
    grid-column: span 2;
}

.equal-sign:hover {
    background-color: #ecbb75;
}

.equal-sign:active {
    background-color: #f7f6f6;
}

.all-clear {
    background-color: #d4d4d2;
    color: black;
}

@media only screen and (max-width: 402px){
    .calculator {
        border-radius: 10px;
        width: 340px;
    }
    
    .display {
        width: 300px;
        height: 70px;
    }
    
    button {
        height: 50px;
    }
} 

@media only screen and (max-width: 350px){
    .calculator {
        border-radius: 10px;
        width: 280px;
    }
    
    .display {
        width: 240px;
        height: 70px;
    }
    
    button {
        height: 50px;
    }
} 